.container_about {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.container_image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.container_image img {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.container_image img:hover {
    transform: rotate(0deg);
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    transition: var(--transition);
}

.about_card:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}

.about_icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about_card h5 {
    font-size: 0.98rem;
}

.about_card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.container_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* Media Query for medium devices(tablet) */
@media screen and (max-width: 1024px) {
    .container_about {
        grid-template-columns: 1fr;
    }

    .container_image {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .container_content p {
        margin: 1rem 0 1.5rem;
    }
}

/* Media Query for small devices(mobile phones) */
@media screen and (max-width: 680px) {
    .container_image {
        width: 65%;
        margin: 0rem auto 3rem;
    }

    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .container_content {
        text-align: center;
    }

    .container_content p {
        margin: 1.5rem 0;
    }
}