header {
    height: 100vh;
    padding-top: 8rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.action-ele {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem
}

.scroll_down {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    bottom: 6rem;
    transform: rotate(90deg);
}